name: Testing on Ubuntu
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y perl cpanminus build-essential libdatetime-perl libssl-dev libexpat1-dev libpcap-dev masscan 
        sudo cpanm --installdeps .
    - name: Verify the basic usage
      run: |
        perl spellbook.pl --help
