name: ZARN

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        git clone https://github.com/htrgouvea/zarn
        sudo apt install -y perl cpanminus
        cd zarn && sudo cpanm --installdeps .
    - name: Hunt for findings
      run: |
        perl zarn.pl --source ../ --sarif zarn.sarif
    - uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: zarn.sarif